*{
	padding: 0;
	margin: 0;
}

.header_outer_container {
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: rgb(148,132,132);*/
    background-color: rgb(20,20,20);
    background-color: transparent;
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
text-justify: inter-word;
}
.header_outer_container ul {
display: flex;
font-size: 20px;

}
.header_outer_container ul li {
	text-decoration: none;
	text-decoration-style: none;
}
.nav__black{
	background-color: rgb(20,20,20);	
}

.header_container{
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: yellow;*/
	background-color: rgb(20,20,20);
}

.header_left ul {
	width: %;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	cursor: pointer;
	/*background-color: lightblue;*/
}

.header_right ul {
	width: %;
	height: 1vh;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	cursor: pointer;
	/*background-color: lightgreen;*/
}
.header_outer_container ul li{
	text-decoration: none;
}

